.event{class: event.verified? ? 'verified' : 'unverified'}
  .info
    %h3
      %a{href: event.url}=h event.title
    =l event.starts_at, :format => :long
    - if event.location.present?
      &middot;
      #{h event.location}
    %a.permalink{href: "/events/%s" % event.id} ∞

  - if event.description.present?
    .description= markdown event.description
