%h2 Neue Veranstaltung eintragen

%p
  Kennst du eine Veranstaltung, die noch nicht auf <strong>hamburg.io</strong> gelistet ist?
  Dann trage sie über dieses Formular ein. Bitte beachte, dass auf <strong>hamburg.io</strong>
  ausschließlich Veranstaltungen gelistet werden, die für <strong>Entwickler, Designer
  und andere Online-Menschen</strong> interessant sind.

= render 'events/_form.html.haml', event: @event
