@import "schnitzelstyle";

/* configuration */
$font-default: 17px "Helvetica Neue",Arial,Helvetica,sans-serif;

/* mixins */
@mixin when-smartphone { @include when-narrower-than(480px) { @content; } }
@mixin when-desktop    { @include when-wider-than(1024px) { @content; } }

/* defaults */
*:first-child { margin-top: 0 !important };
*:last-child  { margin-bottom: 0 !important };

/* body */
body {
  font: $font-default;
  background-color: #fff;
  color: #333;

  @include when-smartphone {
    font-size: 90%;
  }
}

/* main content container */
.container {
  width: 80%;
  max-width: 800px;
  margin: 50px auto !important;
  line-height: 1.45;

  @include when-smartphone {
    width: 100%;
    padding: 1em;
    margin: 10px auto !important;
  }
  @include when-desktop {
    width: 800px;
  }

  &>header {
    color: #333;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 120%;

    h1 {
      display: inline-block;
      float: left;
      font-size: 250%;
      margin-right: 30px;
      border-radius: 5px;
      color: #fff;
      background-color: #c33;
      padding: 0 15px;
    }
    p { margin: 0 }
    a { text-decoration: none }
  }

  &>footer {
    font-size: 85%;
    margin-top: 100px;
    color: #bbb;
    text-align: right;
  }

  h2 {
    color: #696;
    font-size: 19px;
    font-weight: bold;
    border-bottom: 1px solid #696 * 1.3;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  p.actions {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    background: rgba(#99c, 0.3);
  }
}

/* events */
.event {
  padding: 1em 0;
  border-top: 2px dotted #ddd;
  &:first-child { border-top: none };

  .info {
    color: #bbb;
    font-weight: bold;
    font-size: 120%;

    h3 {
      font-size: 120%;
      margin: 0;
      a { color: #333; }
    }

    a.permalink { display: none; text-decoration: none; color: #ddd; }
  }

  .description {
    margin: 1em 0;
    font-size: 15px;
  }

  &.unverified {
    .info { h3 { a { color: #900 !important; }}}
  }

  &:hover { a.permalink { display: inline-block }}

  .notice {
    color: #900;
    padding: 1em;
    border: 1px dotted #900;
  }

  hr {
    border: none;
    border-bottom: 1px dotted #ccc;
    height: 0;
  }
}

/* forms */
form {
  .input {
    margin: 0.5em 0;
    label.for-field {
      font-weight: bold;
      display: block;
    }
    label.for-checkbox {
      display: inline-block;
      margin-left: 1em;
    }
    input,textarea,select {
      font: $font-default;
    }
    textarea {
      width: 600px;
      height: 150px;
    }

    .error { color: red }

    &.text {
      input {
        width: 600px;
      }
    }
  }
}
