@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import "schnitzelstyle";

$font-default: 17px "PT Sans",Arial,Helvetica,sans-serif;

*:first-child { margin-top: 0 !important };
*:last-child  { margin-bottom: 0 !important };

body {
  font: $font-default;
  padding: 50px 0;
  background-color: #fff;
  color: #333;

  background: url(/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 900px;
  max-width: 80%;
  margin: 0 auto;
  background: rgba(#fff, 0.95);
  padding: 40px;
  box-shadow: rgba(#000, 0.5) 3px 3px 15px;
  border-radius: 5px;

  &>header {
    color: #333;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 120%;

    h1 {
      display: inline-block;
      float: left;
      font-size: 250%;
      margin-right: 30px;
      border-radius: 5px;
      color: #fff;
      background-color: #e66;
      padding: 0 15px;
      // color: #e66;
      // text-shadow: rgba(#000, 0.3) 2px 2px 5px;
    }
    p { margin: 0 }
    a { text-decoration: none }
  }

  &>footer {
    margin-top: 100px;
    color: #bbb;
    text-align: right;
  }

  h2 {
    color: #696;
    font-size: 19px;
    font-weight: bold;
    border-bottom: 1px solid #696 * 1.3;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  p.actions {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    background: rgba(#99c, 0.3);
  }
}


.event {
  margin: 2em 0;

  .info {
    color: #bbb;
    font-weight: bold;
    font-size: 120%;

    h3 {
      font-size: 120%;
      margin: 0;
      a { color: #333; }
    }

    a.permalink { display: none; text-decoration: none; color: #ddd; }
  }

  .description {
    margin: 1em 0;
    font-size: 15px;
  }

  &.unverified {
    .info { h3 { a { color: #900 !important; }}}
  }

  &:hover { a.permalink { display: inline-block }}
}

.notice {
  color: #900;
  padding: 1em;
  border: 1px dotted #900;
}

hr {
  border: none;
  border-bottom: 1px dotted #ccc;
  height: 0;
}

form {
  .input {
    margin: 0.5em 0;
    label.for-field {
      font-weight: bold;
      display: block;
    }
    label.for-checkbox {
      display: inline-block;
      margin-left: 1em;
    }
    input,textarea,select {
      font: $font-default;
    }
    textarea {
      width: 600px;
      height: 150px;
    }

    .error { color: red }

    &.text {
      input {
        width: 600px;
      }
    }
  }
}
